{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg py-5">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<h5><strong class="d-inline-block mr-3">Change Your Password</strong></h5>
		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<form action="{% url 'change_password' %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<b><label>Current Password</label></b>
						<input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
					</div>
					<div class="form-group">
						<b><label>Create new password</label></b>
						<input type="password" name="new_password" placeholder="Create New Password" class="form-control" required>
					</div>
					<div class="form-group">
						<b><label>Confirm new password</label></b>
						<input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
					</div>
					<input type="submit" value="Submit" class="btn btn-warning"> <a href = "{% url 'profile' %}" align = 'right'><strong>Back to profile</strong></a>
				</form>
			</div>
		  </div>
		</div> 
		</article> 
	</main>
</div>
</div>


</section>

{% endblock %}